<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table {width : 40em ;}
      tr{background-color: #DDD;}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
<a href = "/admin/write"> 글쓰기 </a>
  </body>
</html>
