<!DOCTYPE html>
<html style="display: inline-block;text-align: center;" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>ForRoom</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>

        /*#one{width: 200px;}*/
        /*#two{width: 300px;}*/
        img {
            max-width: 100%;
        }
    </style>


</head>
<body>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><B>WishRoom</B></h1>
    </div>
    <div class="panel-body">


        <h1>
            <% title %>
        </h1>

        <img src="<%=sticker%>">



    </div>
</div>


</body>
</html>